@font-face {
	font-family: 'HelveticaNeueThin';
	src: url(../../assets/fonts/HelveticaNeueLTW01-35Thin.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueLTW01-35Thin.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueLTW01-35Thin.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeueLTW01-35Thin.woff) format('woff'),
	url(../../assets/fonts/HelveticaNeueLTW01-35Thin.ttf) format('truetype'),
	url(../../assets/fonts/HelveticaNeueLTW01-35Thin.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}